<h1>Overview</h1>

<table>
  <thead>
    <th>Available</th>
    <th>Allocated</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @remaining_money %></td>
      <td><%= @allocated_money %></td>
      <td><%= @total_money %></td>
    </tr>
  </tbody>
</table>

<h2>Accounts</h2>
<%= render partial: 'accounts/table', collection: @accounts %>

<h2>Categories</h2>
<%= render partial: 'categories/table', collection: @categories %>

<h2>Transactions</h2>
<%= render partial: 'transactions/table', collection: @transactions %>
