<h1>Overview</h1>

<table class="table">
  <thead>
    <th>Available</th>
    <th>Allocated</th>
    <th>Total</th>
    <th>Last 30 Days Spend</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @remaining_money %></td>
      <td><%= @allocated_money %></td>
      <td><%= @total_money %></td>
      <td><%= @thirty_day_spend %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col">
    <h2 class="float-left">Accounts</h2>
    <%= link_to 'New Account', new_account_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<%= render partial: 'accounts/table' %>

<div class="row">
  <div class="col">
    <h2 class="float-left">Categories</h2>
    <%= link_to 'New Category', new_category_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<%= render partial: 'categories/table' %>


<div class="row">
  <div class="col">
    <h2 class="float-left">Transactions</h2>
    <%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<%= render partial: 'transactions/table' %>
