<h1>Overview</h1>

<table>
  <thead>
    <th>Available</th>
    <th>Allocated</th>
    <th>Total</th>
    <th>Last 30 Days Spend</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @remaining_money %></td>
      <td><%= @allocated_money %></td>
      <td><%= @total_money %></td>
      <td><%= @thirty_day_spend %></td>
    </tr>
  </tbody>
</table>

<h2>Accounts</h2>
<%= link_to 'New Account', new_account_path %>
<%= render partial: 'accounts/table' %>

<h2>Categories</h2>
<%= link_to 'New Category', new_category_path %>
<%= render partial: 'categories/table' %>

<h2>Transactions</h2>
<%= link_to 'New Transaction', new_transaction_path %>
<%= render partial: 'transactions/table' %>
