<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :allocation %>
    <%= form.number_field :allocation, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :goal_amount %>
    <%= form.number_field :goal_amount, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= form.label :on_budget, 'Include in retrospective spending?' %>
    <%= form.check_box :on_budget %>
  </div>

  <div class="actions">
    <%= form.submit "Create Category", class: "btn btn-success" %>
  </div>
<% end %>
