<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Allocated</th>
      <th>Goal</th>
      <th>Due</th>
      <th>Total spend last 30 days</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.allocation %></td>
        <td><%= category.goal_amount %></td>
        <td><%= category.due_date %></td>
        <td><%= category.last_30_days %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
