<p id="notice"><%= notice %></p>

<p><strong>Name:</strong> <%= @category.name %></p>
<p><strong>Allocated:</strong> <%= @category.allocation %></p>
<p><strong>Goal:</strong> <%= @category.goal_amount %></p>
<p><strong>Due:</strong> <%= @category.due_date %></p>

<h2>Add a transaction:</h2>
<%= render 'transactions/form' %>

<h2>Transactions:</h2>
<%= render partial: 'transactions/table', model: @category.transactions %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
