<p id="notice"><%= notice %></p>

<%= render partial: 'category', object: @category %>

<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-secondary" %>
    <%= link_to 'Back', categories_path, class: "btn btn-secondary" %>
  </div>
</div>

<h2>Add a transaction:</h2>
<%= render 'transactions/form' %>

<h2>Transactions:</h2>
<%= render partial: 'transactions/table', model: @transactions %>

<hr />
<%= link_to 'Destroy', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
