<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.label :account %>
    <%= form.collection_select :account_id, Account.where(user_id: current_user.id), :id, :name %>
    <%= link_to 'New Account', new_account_path %>
  </p>

  <p>
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.where(user_id: current_user.id), :id, :name %>
    <%= link_to 'New Category', new_category_path %>
  </p>

  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </p>

  <p>
    <%= form.radio_button :expense, true %> <%= form.label :expense_true, "Expense" %>
    <%= form.radio_button :expense, false %> <%= form.label :expense_false, "Income" %>
  </p>

  <p>
    <%= form.label :memo %>
    <%= form.text_field :memo %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
