<%= form_with(model: [ @account, @account.transactions.build ], local: true) do |form| %>
  <p>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.label :account %>
    <%= form.collection_select :account, Account.all, :id, :name %>
  </p>

  <p>
    <%= form.label :category %>
    <%= form.collection_select :category, Category.all, :id, :name %>
  </p>

  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </p>

  <p>
    <%= form.label :memo %>
    <%= form.text_field :memo %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
