<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :account %>
    <%= link_to 'New Account', new_account_path, class: "btn btn-sm btn-secondary float-right" %>
    <%= form.collection_select :account_id, Account.where(user_id: current_user.id), :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= link_to 'New Category', new_category_path, class: "btn btn-sm btn-secondary float-right" %>
    <%= form.collection_select :category_id, Category.where(user_id: current_user.id).order(:name), :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="col">
      <strong>Expense/Income</strong>
      <div class="form-check">
        <%= form.radio_button :expense, true %> <%= form.label :expense_true, "Expense" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :expense, false %> <%= form.label :expense_false, "Income" %>
      </div>
    </div>

    <div class="col">
      <strong>Cleared/Uncleared</strong>
      <div class="form-check">
        <%= form.radio_button :cleared, true %> <%= form.label :cleared_true, "Cleared" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :cleared, false %> <%= form.label :cleared_false, "Uncleared" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :memo %>
    <%= form.text_field :memo, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Transaction", class: "btn btn-success" %>
  </div>
<% end %>
