<p><strong>Date:</strong> <%= transaction.date %></p>
<p><strong>Amount:</strong> <%= transaction.amount %></p>
<p><strong>Account:</strong> <%= transaction.account.name %></p>
<p><strong>Category:</strong> <%= transaction.category.name %></p>
<p><strong>Memo:</strong> <%= transaction.memo %></p>

