<p id="notice"><%= notice %></p>

<p><strong>Date:</strong> <%= @transaction.date %></p>
<p><strong>Amount:</strong> <%= @transaction.amount %></p>
<p><strong>Expense/Income:</strong> <%= if @transaction.expense then 'Expense' else 'Income' end %></p>
<p><strong>Cleared?</strong> <%= if @transaction.cleared then 'Yes' else 'No' end %></p>
<p><strong>Account:</strong> <%= link_to @transaction.account.name, account_path(@transaction.account) %></p>
<p><strong>Category:</strong> <%= link_to @transaction.category.name, category_path(@transaction.category) %></p>
<p><strong>Memo:</strong> <%= @transaction.memo %></p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
<hr />
<%= link_to 'Destroy', transaction_path(@transaction), method: :delete, data: { confirm: 'Are you sure?' } %>
