<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <% if user_signed_in? %>
          <%= link_to 'Budget', budget_index_path, class: "btn btn-success" %>
          <%= link_to 'Accounts', accounts_path,  class: "btn btn-secondary" %>
          <%= link_to 'Categories', categories_path,  class: "btn btn-secondary" %>
          <%= link_to 'Transactions', transactions_path,  class: "btn btn-secondary" %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete,  class: "btn btn-secondary" %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-secondary" %>
          <%= link_to 'Register', new_user_registration_path, class: "btn btn-secondary" %>
        <% end %>
        <a class="btn btn-secondary" href="https://github.com/estelendur/enab.rb">Github</a>
      </nav>
    </div>
    <div id="alpha-alert" class="container alert alert-warning">
      <strong>This software is in alpha release! Data persistence is not guaranteed and any element of the software can change at any time.</strong>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
    <%= javascript_include_tag "sorttable" %>
  </body>
</html>
