<!DOCTYPE html>
<html>
  <head>
    <title>EnabRb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav-bar">
      <% if user_signed_in? %>
        <%= link_to 'Budget', budget_index_path %>
        <%= link_to 'Accounts', accounts_path %>
        <%= link_to 'Categories', categories_path %>
        <%= link_to 'Transactions', transactions_path %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path %>
        <%= link_to 'Register', new_user_registration_path %>
      <% end %>
      <a href="https://github.com/estelendur/enab.rb">Github</a>
    </div>
    <div id="alpha-alert">
      <hr />
      <h3><strong>This software is in alpha release! Data persistence is not guaranteed and any element of the software can change at any time.</strong></h3>
      <hr />
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <script src="sorttable.js"></script>
  </body>
</html>
