<table class="table sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Cleared Balance</th>
      <th>On Budget?</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.balance %></td>
        <td><%= account.cleared_balance %></td>
        <td><%= account.on_budget %></td>
        <td><%= link_to 'Show', account, class: "btn btn-sm btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_account_path(account), class: "btn btn-sm btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
