<p id="notice"><%= notice %></p>

<%= render partial: 'account', object: @account %>

<h2>Add a transaction:</h2>
<%= render 'transactions/form' %>

<h2>Transactions:</h2>
<%= render partial: 'transactions/table', model: @transactions %>

<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-secondary" %>
<%= link_to 'Back', accounts_path, class: "btn btn-secondary" %>
<hr />
<%= link_to 'Destroy', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
